

<% if @lens.type == 'linear' %>
  <th-lens-composer class="edit-lens"></th-lens-composer>
<% else %>
  <th-connector></th-connector>
<% end %>

<div class="buttons">
  <div id='create_lens' class="button">Save as New Lens</div>
  <% if @lens.final_result %>
    <%= link_to "View Result", lens_path(@lens), class: "button" %>
    <div id='embed' class="button">Embed Result</div>
    <%= text_area_tag 'query', "<iframe src='http://makelenses.com#{lens_path(@lens)}' width='100%' height='100%' scrolling='no' frameborder='0'></iframe>", size: "21x7", id: "embed-tag" %>
  <% end %>
</div>

<div id='status'></div>
