

<% if @lens.type == 'linear' %>
  <th-lens-composer class="edit-lens" pathToComponents="../assets/bower_components/"></th-lens-composer>
<% else %>
  <th-connector></th-connector>
<% end %>

<div class="buttons">
  <div id='create_lens' class="button">Create Lens</div>
  <%= link_to "View Result", lens_path(@lens), class: "button" %>
  <!-- <div id="embed" class="inactive">Embed as iframe <br>(coming soon)</div> -->
</div>

<div id='status'></div>
