

<% if @lens.type == 'linear' %>
  <th-lens-composer class="edit-lens" pathToComponents="../assets/bower_components/"></th-lens-composer>
<% else %>
  <th-connector></th-connector>
<% end %>

<div id="buttons">
  <div id='create_lens' data-lens-id="<%=@lens.id %>">Create Lens</div>
  <div ><%= link_to "View Result", lens_path(@lens) %></div>
  <!-- <div id="embed" class="inactive">Embed as iframe <br>(coming soon)</div> -->
</div>

<div id='status'></div>
