<%= link_to "View", lens_path(@lens) %>

<th-lens-composer class="edit-lens" pathToComponents="../assets/bower_components/" lensTitle='<%=@lens.name %>' lensAuthor='<%=@lens.author %>' >

</th-lens-composer>

<div id='create_lens' data-lens-id="<%=@lens.id %>">Create Lens</div>
<div id='status'></div>
