<%= link_to "View", lens_path(:id => @lens.id) %>
<th-connector id="connector" componentList='<%= @component_list %>'>
  <% @components.each do |component| %>
    <%== component %>
  <% end %>
</th-connector>

<div id='update_lens' data-lens-id="<%=@lens.id %>">Update Lens</div>
<div id='status'></div>
