<p>An example of using <code>&lt;th-connector></code>:</p>

<th-connector animateOnInit="true">
  <th-table-data></th-table-data>
  <th-geocoder-firebase firebaseLocation="https://sweltering-fire-3844.firebaseio.com/" style="min-width: 150px"></th-geocoder-firebase>
  <th-chart-data-filter></th-chart-data-filter>
  <th-array-function></th-array-function>
  <th-google-map fitToMarkers width="400" height="400">  </th-google-map>
  <th-mapbox width="400" height="400" accessToken="pk.eyJ1IjoidGhlbG1hIiwiYSI6Ikd3RUlsTTQifQ.i6bojdSBKd6JHENLKsRjTA" mapId="examples.map-i87786ca" geolocation="false" showSwipeBar="false" ></th-mapbox>
  <th-n-bar-chart chartHeight="400" chartWidth="400" animateOnInit="true"></th-n-bar-chart>
</th-connector>

<div>


