<th-lens-composer pathToComponents="../assets/bower_components/">
  <th-lens-node type="input" pathToComponents="../assets/bower_components/"></th-lens-node>
</th-lens-composer>

<div class="buttons">
  <div id='create_lens' class="button">Create Lens</div>
</div>

<div id='status'></div>
