<th-lens-composer pathToComponents="../assets/bower_components/">
  <th-lens-node type="input" pathToComponents="../assets/bower_components/"></th-lens-node>
</th-lens-composer>
<div id='create_lens'>Create Lens</div>
<div id='status'></div>
