// Place all the styles related to the components controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$light-gray: rgba(200,200,200,0.25);
$lighter-gray: rgba(200,200,200,0.1);

html, body { /* Needed for th-connector absolute position of elements */
  width: 100%;
  height: 100%;
  font-family: open-sans, sans-serif;
  margin: 0;
}

#buttons {
  position: fixed;
  top: 0px;
  right: 0px;
}

#buttons > * {
  margin: 10px;
  padding: 10px;
  background-color: $lighter-gray;
  border-radius: 2px;
  cursor: pointer;
  width: 200px;
  box-sizing: border-box;
  text-align: center;
  a {
    text-decoration: none;
    &:hover {
      background-color: rgba(200,200,200,0);
      color: inherit;
    }
  }
  &:hover {
    background-color: $light-gray;
  } 
}

.iframe-button {
  margin: 10px;
  padding: 10px;
  position: fixed;
  top: 0px;
  right: 0px;
  background-color: $lighter-gray;
  cursor:pointer; 
  z-index: 2;
  text-decoration: inherit;
  &:hover {
    background-color: $light-gray;
    color: inherit; 
  }
}


#status {
  position: absolute;
  top: 0;
}

/*** Overriding Handsontable default styles for th-data-table ***/
/*   These must live in document, not component */
.htContextMenu { /* entire menu */
  position: fixed;
  top: -20px;
  left:50px;
  height: auto;
}

.htBorders { /* these are not displaying correctly */
  display: none;
}

.wtSpreader { /* area of menu options */
  background-color: rgba(252,252,252,0.9);
  padding: 3px;
  width: 100%;
}
.wtSpreader tr { /* menu item */
  cursor: pointer;
  position: relative;
}
.wtSpreader tr:hover {
  background-color: #eee;
}
