// Place all the styles related to the components controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html, body { /* Needed for th-connector absolute position of elements */
  width: 100%;
  height: 100%;
  font-family: open-sans, sans-serif;
}

#create_lens, #update_lens {
  position: absolute;
  top: 10px;
  right: 5px;
  padding: 10px;
  background-color: #eee;
  border-radius: 2px;
  cursor: pointer;
  width: 200px;
  box-sizing: border-box;
  text-align: center;
  &:hover {
    background-color: #ddd;
  }
}

#status {
  position: absolute;
  top: 0;
}


/*** Overriding Handsontable default styles for th-data-table ***/
/*   These must live in document, not component */
.htContextMenu { /* entire menu */
  position: fixed;
  top: -20px;
  left:50px;
  height: auto;
}

.htBorders { /* these are not displaying correctly */
  display: none;
}

.wtSpreader { /* area of menu options */
  background-color: rgba(252,252,252,0.9);
  padding: 3px;
}
.wtSpreader tr { /* menu item */
  cursor: pointer;
  position: relative;
}
.wtSpreader tr:hover {
  background-color: #eee;
}
