<!DOCTYPE html>
<html>
<head>
  <title>Lenscomposer</title>


  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="import" href="/assets/bower_components/th-theme/th-theme.html">
  <link rel="import" href="/assets/bower_components/th-mapbox/th-mapbox.html">
  <link rel="import" href="/assets/bower_components/th-connector/th-connector.html">
  <link rel="import" href="/assets/bower_components/th-geocoder-firebase/th-geocoder-firebase.html">
  <link rel="import" href="/assets/bower_components/th-csv/th-csv.html">
  <link rel="import" href="/assets/bower_components/th-google-map/th-google-map.html">
  <link rel="import" href="/assets/bower_components/th-table-data/th-table-data.html">
  <link rel="import" href="/assets/bower_components/th-array-function/th-array-function.html">
  <link rel="import" href="/assets/bower_components/th-n-bar-chart/th-n-bar-chart.html">
  <link rel="import" href="/assets/bower_components/th-chart-data-filter/th-chart-data-filter.html">

</head>
<body unresolved>

<%= yield %>

</body>
</html>
